.info {
  background-color: rgba(35, 55, 75, 0.9);
  border-radius: 4px;
  color: #fff;
  font-family: monospace;
  left: 0;
  margin: 15px 0px 0px 120px;
  opacity: 80%;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 1;
}